body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.d-flex {
  display: flex;
}

.content-area {
  padding: 20px;
  transition: margin-left 0.3s, width 0.3s;
  width: calc(100% - 250px);
}

.sidebar.collapsed + .content-area {
  margin-left: 70px;
  width: calc(100% - 70px);
}

@media (max-width: 768px) {
  /* .sidebar {
      position: absolute;
      z-index: 10;
      width: 250px;
      height: 100vh;
      transition: left 0.3s ease;
  } */
  /* .sidebar.collapsed {
      left: -250px;
  }
  .content-area {
      margin-left: 0;
      width: 100%;
  } */
}

.service-table {
  border: 1px solid #dee2e6;
}

.service-table th,
.service-table td {
  text-align: center;
  vertical-align: middle;
}

.service-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.service-table tbody tr:hover {
  background-color: #f1f3f5;
}

@media (max-width: 768px) {
  /* .service-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  } */
}

.container-fluid form {
  /* max-width: 600px; */
  margin: auto;
}

.form-label {
  font-weight: 500;
}

.form-control {
  border-radius: 4px;
}

textarea.form-control {
  resize: none;
}

.btn {
  /* margin-top: 10px; */
  border-radius: 4px;
}
.text-danger {
  font-size: 0.875em;
}
.modal{
  background-color: rgba(0, 0, 0, 0.466);
}
.h-15{
  height: 15%;
}



.Center{
  display: flex;
  justify-content: center;
  align-items: center;
}